<a href="https://colab.research.google.com/github/nureeee/python-basic/blob/python/210605_%ED%8C%8C%EC%9D%B4%EC%8D%AC_%EB%AC%B8%EC%A0%9C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. 문자열로 된어 있는 숫자즐의 합 구하기

In [1]:
num1 = '10.3'
num2 = '30'
num3 = 'True'
print(float(num1) + int(num2) + bool(num3) )

41.3

In [4]:
print(bool(num3) + 1) # 더할 때는 1의 값으로 나타난다

2

In [6]:
print(bool(num3)) # 그냥 프린트 하면 True가 나온다

True

2. 월 48,584원에 무이자 36개월의 조건으로 홈쇼핑에서 판매. 총 금액은 계산한 후 이를 화면에 출력해보세요. (변수사용하기)

In [12]:
P = 48584
M = 36
print(str(P * M) + '원') #print를 할 때 str과 int는 값이 프린트 할 수 없다

1749024원

3. 문자열에서 첫번째와 세번째 문자열 출력

In [16]:
letters = 'python'
print(letters[0] + letters[2])

pt

license_plate = '54너 1219'
실행 후 자동차 번호 중 뒤 네자리만 출력하세요

In [19]:
license_plate = '54너 1219'
print(license_plate[-4:])

1219

In [20]:
# 홀만 출력
string = '홀짝홀짝홀짝'
print(string[0::2])

홀홀홀

In [23]:
# 하이푼 제거
phone_n = '010-1234-5678'
phone_n.replace('-', ' ')

'010 1234 5678'

In [24]:
#소문자 a 대문자 A로 바꾸기
str1 = 'asdfdfwafa2351a'
str1.replace('a', 'A')

'AsdfdfwAfA2351A'